<%= render "home/navbar" %>

<div class="container">

<h1>Projects</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>

    <% @pitches.each do |pitch| %>

    <div class = "pitch_index_wrapper">
    <h4 class = "pitch_index_title"><%=pitch.title%></h4>
    <p class = "pitch_index_show"><strong>Project Description:</strong> <%=pitch.description%></p>
    <p class = "pitch_index_author"><strong>Project by</strong> <%=pitch.user.name%></p>
      <ul>
        <button><%= link_to 'Show', pitch %></button>
        <button><%= link_to 'Edit', edit_pitch_path(pitch) %></button>
        <button><%= link_to 'Delete', pitch, method: :delete, data: { confirm: 'Are you sure?' } %></button>
      </ul>
    </div>
    <hr>
    <% end %>
  </tbody>
</table>

<br>
<div class="newPitch waves-effect waves-light btn-large">
<a href = "pitches/new">New Project</a>
</div>
</div>
