<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <h1>
      <%= user.name%>
    </h1>
    <ul>
      <li>
        bio : <%= user.bio %>
      </li>
        email : <%= user.email %>
      <li>
        location: <%= user.location%>
      </li>
      <li>
        area of interest: <%= user.area_of_interest%>
      </li>
      <li>
        years of expertise: <%= user.years_of_expertise%>
      </li>
      <li>
        past employment: <%= user.past_employment%>
      </li>
    </ul>
      <tr>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>
