<% if current_user.nil? %>

  <%= render "intro" %>

<%else%>

  <%= render "navbar" %>

  <div class="projects">
    <h4>Browse Latest Projects</h4>
  </div>

<div class="carousel carousel-slider center" data-indicators="true">

  <div class="carousel-fixed-item center">
    <a class="btn waves-effect white grey-text darken-text-2">button</a>
  </div>

  <div class="carousel-item image" href="#one!">
    <img src="<%=asset_path('work1.png')%>" />
    <h2 class="overlayText"><span>Game Development</span></h2>
  </div>

  <div class="carousel-item image" href="#two!">
    <img src="<%=asset_path('work2.png')%>" />
    <h2 class="overlayText"><span>Diversity in Tech</span></h2>
  </div>

  <div class="carousel-item image" href="#three!">
    <img src="<%=asset_path('work3.png')%>" />
    <h2 class="overlayText"><span>Re-designing Website</span></h2>
  </div>

  <div class="carousel-item image" href="#four!">
    <img src="<%=asset_path('work4.png')%>" />
    <h2 class="overlayText"><span>My first conference</span></h2>
  </div>

</div>

  <div class="projects">
    <h4>Trending Boards</h4>
  </div>


<div class="carousel carousel-slider center" data-indicators="true">

  <div class="carousel-fixed-item center">
    <a class="btn waves-effect white grey-text darken-text-2">button</a>
  </div>

  <div class="carousel-item image" href="#one!">
    <img src="<%=asset_path('work5.png')%>" />
    <h2 class="overlayText"><span>Internship in NYC</span></h2>
  </div>

  <div class="carousel-item image" href="#two!">
    <img src="<%=asset_path('work6.png')%>" />
    <h2 class="overlayText"><span>Moving to SF!</span></h2>
  </div>

  <div class="carousel-item image" href="#three!">
    <img src="<%=asset_path('work7.png')%>" />
    <h2 class="overlayText"><span>Networking Events</span></h2>
  </div>

  <div class="carousel-item image" href="#four!">
    <img src="<%=asset_path('work8.png')%>" />
    <h2 class="overlayText"><span>Tech Lady Brunch!</span></h2>
  </div>

</div>


<%end%>













