<p id="notice"><%= notice %></p>

<h1><%= @board.title%></h1>
<%= link_to 'Edit', edit_board_path(@board) %>

<% @board.posts.each do |post| %>
  <div>
    <h3>
      <%= post.post_type %> 
    </h3>
    <h4>
      <%= post.title %>
    </h4>
    <h3>
      Created by <%= current_user.name%>
    <p>
      <%= post.content %>
    </p>
    <%= link_to "Edit", edit_board_post_path(@board, post) %> |
    <%= link_to "Delete", board_post_path(@board, post), method: :delete %>
  </div>
<% end %>
<br>
<br>
<%= link_to "Add new post", new_board_post_path(@board, @post) %>
<h3>Posts in this Board</h3>

<br>
<br>
<%= link_to 'Back', boards_path %>
